<app-home></app-home>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link show" data-toggle="tab" href="#profile">Associate Registration</a>
      </li>
    <li class="nav-item">
      <a class="nav-link show active" data-toggle="tab" href="#home">Bulk Registration</a>
    </li>
   
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li> -->
  </ul>
  <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade" id="profile">
          <app-associate-registration></app-associate-registration>
        </div>
    <div class="tab-pane fade active show" id="home">
        <app-bulk-registration></app-bulk-registration>
    </div>
   
  </div>