
<app-home></app-home>
<br/><br/>
  <!-- <div>
      <div class="col-sm-12">
        <div class="text-center">
          <!-- <a routerLink="/EventScheduler">Event Calender</a>&nbsp;&nbsp;&nbsp;
          <a routerLink="/AssoicateView">Associate</a>&nbsp;&nbsp;&nbsp; 
          <div>
            <label>Date in dd-mmm-yy</label>
            <input type="date" name="eventDate" class="form-control" #eventDate="ngModel" [ngModel]="_freeApiService.eventDetails?.eventDate"/>
         <br/>
        </div>    
          <button class="btn btn-primary" id="sendMail">Send Mail to the Selected SBU's</button>&nbsp;&nbsp;&nbsp;
          <button id="exportButton" class="btn  btn-danger clearfix" (click)="exportToExcel()"><span class="fa fa-file-excel-o"></span> Export to Excel</button>
        </div>
      </div>
    </div> -->
    <!-- <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-7 col-lg-25 mx-auto">
        <div>
            <label>Date</label>
            <input type="date" name="eventDate" class="form-control" #eventDate="ngModel" [ngModel]="_freeApiService.eventDetails?.eventDate"/>
         <br/>
      </div>   
      <div class="form-group">
          <button class="btn btn-primary my-2 my-sm-0"  [disabled]="form.invalid">Show Events</button>
      </div>
    </div>   
  </div>   
</div>   
    </form> -->

    <br/>
<table class="table table-hover">
  <thead>
    <tr>
       <!-- <th scope="col">Base Location</th>
       <th scope="col">Beneficiary Name</th>
      <th scope="col">Council Name</th> -->
      <th scope="col">Event ID</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Description</th>
       <th scope="col">Event Date (DD-MM-YY)</th>
      <!--<th scope="col">Volunteer Hours</th>
      <th scope="col">Travel Hours</th>
      <th scope="col">Lives Impacted</th> -->
      <th scope="col">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active"  *ngFor="let event of lstEventDetails">
      <td>{{event.EventCode}}</td>
      <!-- <td>{{event.LocationName}}</td>
      <td>{{event.BeneficiaryName}}</td>
      <td>{{event.CouncilName}}</td> -->
      <td>{{event.eventName}}</td>
      <td>{{event.eventDescription}}</td>
      <td>{{event.eventDate}}</td>
     <!--  <td>{{event.EmployeeID}}</td> -->
              <!-- <select id="dates-field2" class="height multiselect-ui form-control" multiple="multiple">
                  <option *ngFor="let bu of event.BusinessUnit">{{bu.name}}</option>                  
              </select> -->
            <td>
              <button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf="!event.isApproved" (click)="onApproved(event)">Approve</button>
              <button class="btn btn-success my-2 my-sm-0" type="submit" *ngIf="event.isApproved" (click)="onApproved(event)">Approved</button>
            </td>
            <td><button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf="!event.isRejected" (click)="onRejected(event)">Reject</button>
              <button class="btn btn-danger my-2 my-sm-0" type="submit" *ngIf="event.isRejected" (click)="onRejected(event)">Rejected</button></td>
              <!-- <td> {{event.IIEPCategory}}</td> -->
             
    </tr>
  </tbody>
</table>


  
  