
<app-home></app-home>
<br/><br/>
  <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <a routerLink="/AssoicateView">Associate</a>&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary" id="sendMail">Send Mail to the Selected SBU's</button>&nbsp;&nbsp;&nbsp;
          <button id="exportButton" class="btn  btn-danger clearfix" (click)="exportToExcel()"><span class="fa fa-file-excel-o"></span> Export to Excel</button>
        </div>
      </div>
    </div>
    <br/>
<table class="table table-hover" #table>
  <thead>
    <tr>
       
       <th scope="col">Favourite</th>
       <th scope="col">Event ID</th>
       <th scope="col">EventCode</th>
       <th scope="col">Base Location</th>
       <th scope="col">Beneficiary Name</th>
      <th scope="col">Council Name</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Description</th>
      <th scope="col">Event Date (MM-DD-YYYY)</th>
      <th scope="col">POC ID</th>
      <th scope="col">Transport Type ID</th>
      <th scope="col">Business Unit</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <!-- <th scope="col">Status</th> -->
    </tr>
  </thead>
  <tbody>

      <tr class="table-active" *ngFor="let event of lstEventDetails;let i=idx" #table>
          <ng-template [ngTemplateOutlet]="loadTemplate(event)" [ngTemplateOutletContext]="{ $implicit: event, idx: i }"></ng-template>
      </tr>

    </tbody>
  </table>

  <div>{{statusMessage}}</div>
  
  <ng-template #readOnlyTemplate let-event>
      
      <td>
          <input type="checkbox" [checked]="event.FavEvent" disabled/>
      </td>

      <td>{{event.EventId}}</td>
      <td>{{event.EventCode}}</td>
      <td>{{event.locationName}}</td>
      <td>{{event.beneficiaryName}}</td>
      <td>{{event.councilName}}</td>
      <td>{{event.eventName}}</td>
      <td>{{event.eventDescription}}</td>
      <td>{{event.eventDate}}</td>
      <td>{{event.employeeID}}</td>
      <td>{{event.transportTypeId}}</td>
      <td></td>
      <td></td>
              <!-- <select id="dates-field2" class="height multiselect-ui form-control" multiple="multiple">
                  <option *ngFor="let bu of event.BusinessUnit">{{bu.name}}</option>                  
              </select> -->
              <td></td>
              <!-- <td>
                {{event.Status}}
              </td> -->

              <td>
                  <input type="button" value="Edit" class="btn btn-default"  (click)="editEvent(event)" />
              </td>
              <!-- <td *ngIf="admin || pmo ">
                  <input type="button" value="Delete" (click)="deleteEvent(event)" class="btn btn-danger" />
              </td> -->
      </ng-template>
      <ng-template #editTemplate>
          <td>
              <input type="checkbox" (click)="addToFav(editViewEvents)" [checked]="editViewEvents.FavEvent" [(ngModel)]="editViewEvents.FavEvent" />
          </td>
          <td>
              <input type="text" [(ngModel)]="editViewEvents.EventId" disabled  />
          </td>
          <td>
              <input type="text" [(ngModel)]="editViewEvents.EventCode" disabled  />
          </td>
          <td>
              <input type="text" [(ngModel)]="editViewEvents.locationName"  />
          </td>
          <td>
              <input type="text" [(ngModel)]="editViewEvents.beneficiaryName"  />
          </td> 
          
          <td>
              <input type="text" [(ngModel)]="editViewEvents.councilName"  />
          </td> 
          <td>
              <input type="text" [(ngModel)]="editViewEvents.eventName"  />
          </td> 
          <td>
              <input type="text" [(ngModel)]="editViewEvents.eventDescription"  />
          </td> 
          <td>
              <input type="date"  [ngModel]="editViewEvents.eventDate | date:'yyyy-MM-dd'" 
              (ngModelChange)="editViewEvents.eventDate = $event"/>
             
          </td> 
          <td>
              <input type="text" [(ngModel)]="editViewEvents.employeeID"  />
          </td> 
          <td>
              <input type="text" [(ngModel)]="editViewEvents.transportTypeId"  />
          </td> 
          <td></td>
          <!--<td>
            <angular2-multiselect  name="dropdown" [data]="roleDropdownList"  [(ngModel)]="selectedRoles" 
                    [settings]="dropdownSettings" 
                    (onSelect)="onItemSelect($event)" 
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)" aria-required="true"> 
           </angular2-multiselect>-->
           
         <!-- </td> -->
         
          <td>
              <input type="button" value="Save" (click)="saveEvent()" class="btn btn-success" />
              <!-- <div *ngIf=isExist> 
                  <span>User Role already exist!!</span>
              </div> -->
          </td>
          <td>
              <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
          </td>
       
      </ng-template>
      
  
  