
<app-home></app-home>
<br/><br/>
  <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <button id="exportButton" class="btn  btn-danger clearfix" (click)="exportToExcel()"><span class="fa fa-file-excel-o"></span> Export to Excel</button>
        </div>
      </div>
    </div>
    <br/>
<table class="table table-hover" #table>
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active"  *ngFor="let event of lstAssociateDetails">
      <td>{{event.AssociateId}}</td>
      <td>{{event.AssociateName}}</td>
      <td>{{event.ContactNumber}}</td>
      <td>{{event.EmailId}}</td>
      <td>{{event.RoleType}}</td>
    </tr>
  </tbody>
</table>


  
  