<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Sign In</h3>
            <!-- <form class="form-signin"> -->
              <div>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <!-- <label for="inputEmail">Email address</label> -->
                <label ></label>
              </div>

              <!-- <div>
                  <label>Project</label>
                  <input type="dropdown" name="projectName" class="form-control" #projectName="ngModel" [ngModel]="_freeApiService.eventDetails?.projectName"/>
               <br/>
               </div> -->

              <div>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <!-- <label for="inputPassword">Password</label> -->
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-primary btn-block text-uppercase" type="submit" id="inputSubmit" (click)="onSubmit()">Sign in</button>
              <hr class="my-4">
               <button class="btn btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Register</button>
              <!-- <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>  -->
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
