<!-- <div class="jumbotron text-center">
  <h1>Volunteer Marathon Application</h1>
</div> -->

<!-- <div ng-init="myVar = '/assets/volunteer-header.jpg''">
  <h1>Angular</h1>
  <img ng-src="{{myVar}}">
  </div> -->

  <div class="col-sm-6 col-md-6 col-lg-4">
    <img src="assets/volunteer-header.jpg" >
    </div>

    <!-- <body>
      <img class="img-responsive" src="http://digital-photography-school.com/wp-content/uploads/flickr/5661878892_15fba42846_o.jpg" />
    </body> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3> 
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div> -->
