<app-home></app-home>
<br/><br/>
<!-- <h5 class="card-title text-center">List of top project teams interms of SignUp's&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="exportButton" class="btn  btn-danger pull-right"> Export to Excel</button>
</h5> -->

<div class="container">
    <div class="row">
      <div class="col-sm-20 col-md-7 col-lg-35 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Post Event Tracking</h3><br/>
            <!-- <form class="form-signin"> -->
                <div>
                    <label>Please choose the Event date </label>
                    <input type="date" id="inputEventDate" class="form-control" placeholder="Event Date" required autofocus>
                 <br/>
                </div>
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                          <div class="text-center">
                            <button class="btn btn-primary" id="sendMail">Show Report</button>&nbsp;&nbsp;&nbsp;
                            <button id="exportButton" class="btn  btn-danger clearfix"><span class="fa fa-file-excel-o"></span> Export to Excel</button>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>