<!-- <app-home></app-home> -->
<!-- <app-header></app-header> -->
<!-- <br/><br/><br/><br/> -->
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
   
    <!-- <button class="btn btn-success">Add user</button> -->
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-25 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h3 class="card-title text-center">Create Event</h3><br/>
                    <div>
                      <label>Beneficiary Name</label>
                      <input type="text" list="beneficiaryDetails" name="beneficiaryName" class="form-control" #beneficiaryName="ngModel" [ngModel]="_freeApiService.eventDetails?.beneficiaryName"
                      />
                      <datalist id="beneficiaryDetails">
                        <option *ngFor="let beneficiaryDetail of beneficiaryDetails">{{beneficiaryDetail}}</option>
                      </datalist>
                      <br/>
                      </div>
                      
                   <!-- <div>
                      <label>Council Name</label>
                      <input type="dropdown" name="councilName" class="form-control" #councilName="ngModel" [ngModel]="_freeApiService.eventDetails?.councilName"/>
                   <br/>
                   </div> -->
                   <div>
                   <label>Council Name</label>
                   <input type="text" list="councilName" name="councilName" class="form-control" #beneficiaryName="ngModel" [ngModel]="_freeApiService.eventDetails?.councilName"
                   />
                   <datalist id="councilName">
                     <option *ngFor="let councilDetails of councilName">{{councilDetails}}</option>
                   </datalist>
                   <br/>
                   </div>


                   <!-- <div>
                      <label>Project</label>
                      <input type="dropdown" name="projectName" class="form-control" #projectName="ngModel" [ngModel]="_freeApiService.eventDetails?.projectName"/>
                   <br/>
                   </div> -->
                   <div>
                      <label>Project</label>
                      <input type="text" list="projectName" name="projectName" class="form-control" #beneficiaryName="ngModel" [ngModel]="_freeApiService.eventDetails?.projectName"
                      />
                      <datalist id="projectName">
                        <option *ngFor="let projectDetails of projectName">{{projectDetails}}</option>
                      </datalist>
                      <br/>
                      </div>  


                      <!-- <label>Event Category</label>
                      <input type="dropdown" name="eventCategory" class="form-control" #eventCategory="ngModel" [ngModel]="_freeApiService.eventDetails?.eventCategory"/>
                   <br/>
                   </div>
 -->
                   <div>
                      <label>Event Category</label>
                      <input type="text" list="eventCategory" name="eventCategory" class="form-control" #beneficiaryName="ngModel" [ngModel]="_freeApiService.eventDetails?.eventCategory"
                      />
                      <datalist id="eventCategory">
                        <option *ngFor="let eventCategoryDetails of eventCategory">{{eventCategoryDetails}}</option>
                      </datalist>
                      <br/>
                      </div>
                   <div>
                      <label>Event Name</label>
                      <input type="text" name="eventName" class="form-control" required #eventName="ngModel" [ngModel]="_freeApiService.eventDetails?.eventName"/>
                   <br/>
                   </div>
                   <div>
                      <label>Event Description</label>
                      <input type="text" name="eventDescription" class="form-control" #eventDescription="ngModel" [ngModel]="_freeApiService.eventDetails?.eventDescription"/>
                   <br/>
                  </div>
                   <div>
                      <label>Date in dd-mmm-yy</label>
                      <input type="date" name="eventDate" class="form-control" #eventDate="ngModel" [ngModel]="_freeApiService.eventDetails?.eventDate"/>
                   <br/>
                  </div>           
                  <div>
                      <label>Start Time</label>
                      <input type="time" name="startTime" class="form-control" #startTime="ngModel" [ngModel]="_freeApiService.eventDetails?.startTime"/>
                   <br/>
                   </div>
                   <div>
                      <label>End Time</label>
                      <input type="time" name="endTime" class="form-control" #endTime="ngModel" [ngModel]="_freeApiService.eventDetails?.endTime"/>
                   <br/>
                   </div>
                   <!-- <div>
                      <label>Location</label>
                      <input type="dropdown" name="locationName" class="form-control" #locationName="ngModel" [ngModel]="_freeApiService.eventDetails?.locationName"/>
                   <br/>
                   </div> -->
                   <div>
                      <label>Location</label>
                      <input type="text" list="locationName" name="locationName" class="form-control" #beneficiaryName="ngModel" [ngModel]="_freeApiService.eventDetails?.locationName"
                      />
                      <datalist id="locationName">
                        <option *ngFor="let locationDetails of locationName">{{locationDetails}}</option>
                      </datalist>
                      <br/>
                      </div>

                   <div>
                    <label>Address</label>
                    <input type="text" name="address" class="form-control" #address="ngModel" [ngModel]="_freeApiService.eventDetails?.address"/>
                 <br/>
                 </div>
                   <div>
                      <label>Volunteers Required</label>
                      <input type="text" name="volunteersRequired" class="form-control" #volunteersRequired="ngModel" [ngModel]="_freeApiService.eventDetails?.volunteersRequired"/>
                   <br/>
                   </div>
                   <div>
                      <label>POC ID</label>
                      <input type="dropdown" name="pocId" class="form-control" #pocId="ngModel" [ngModel]="_freeApiService.eventDetails?.pocId"/>
                   <br/>
                   </div>
                   <div>
                    <label>Transport Boarding Type</label>
                    <select class='form-control' placeholder='Transport Boarding Type' name="transportTypeId" [(ngModel)]="selectedValue" [ngModel]="_freeApiService.eventDetails?.transportTypeId">
                      <!-- <option value='0'>Please Select</option> -->
                      <option value='1'>Fixed</option>
                      <option value='2'>Floating</option>
                      <option value='3'>No Transport</option>
                    </select>
                    <br/>
                  </div>
                  <div>
                    <div  *ngIf="selectedValue == '1'">
                      <label>Transport Boarding Points </label>
                      <input type="dropdown" name="BoardingPoint" class="form-control" #BoardingPoint="ngModel" [ngModel]="_freeApiService.eventDetails?.boardingPoint"
                      />
                      <br/>
                    </div>
                    <div>
                      <div *ngIf="selectedValue == '1'">
                        <label>Transport Drop Points </label>
                        <input type="dropdown" name="DropPoint" class="form-control" #DropPoint="ngModel" [ngModel]="_freeApiService.eventDetails?.dropPoint"
                        />
                        <br/>
                      </div>
                    </div>
                  </div>
                      
                   
                  <div>
                      <label>Favourite Event</label>
                      <select class='form-control' placeholder='Favorite Event' name="FavouriteEvent" [ngModel]="_freeApiService.eventDetails?.favouriteEvent">
                          <!-- <option value='0'>Please Select</option> -->
                          <option value='true'>Yes</option>
                          <option value='false'>No</option>
                   </select>
                   </div>
                   <br/>
                  <div class="form-group">
                      <button class="col-lg-6 btn btn-lg btn-primary btn-block text-uppercase"  [disabled]="form.invalid">Create</button>
                       <!-- <div class="row"  *ngIf="showMsg">
                          <div class="col-xs-12">
                             <p class="alert alert-success">
                                    <strong>Event details uploaded successfully!!</strong> 
                             </p>
                          </div>
                       </div> -->
                       <div class="alert alert-dismissible alert-success" *ngIf="showMsg">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <strong>Event details uploaded successfully!!!</strong> 
                          <!-- <a href="#" class="alert-link">this important alert message</a>. -->
                        </div>
                  </div>
              </div>
              
            </div>
            
          </div>
          
        </div>
        </div>
    
    </form>

    