<app-home></app-home>
<br/><br/>
<!-- <h5 class="card-title text-center">List of top project teams interms of SignUp's&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="exportButton" class="btn  btn-danger pull-right"> Export to Excel</button>
</h5> -->

<div class="container">
    <div class="row">
      <div class="col-sm-20 col-md-17 col-lg-35 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">List of top project teams interms of SignUp's</h3><br/>
                <div>
                    <label>Please choose the Event date </label>
                    <input type="date" id="inputEventDate" class="form-control" (blur)="getEventDate($event)" placeholder="Event Date" required autofocus>
                 <br/>
                </div>
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                          <div class="text-center">
                            <button class="btn btn-primary" id="sendMail" (click)="getTopTeamlistBasedonDate()">Show Report</button>&nbsp;&nbsp;&nbsp;
                            <button id="exportButton" class="btn  btn-danger clearfix"><span class="fa fa-file-excel-o"></span> Export to Excel</button>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <div class="form-group" *ngIf="lstTopTeams">
                          <div style="overflow:auto">
                              <table class="table table-hover" #table>
                                  <thead>
                                    <tr>
                                       <th scope="col">Business Unit</th>
                                       <th scope="col">Number of registrations</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="table-active"  *ngFor="let team of lstTopTeams" > 
                                      <td>{{team.businessUnit}}</td>
                                      <td>{{team.topTeamCount}}</td>        
                                    </tr>
                                  </tbody>
                                </table>    
                          </div> 
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
 
<!-- 
    <div class="col-sm-19 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5"> 
            
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Event Name
        </th>
        <th >Number of Registrations
          </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <td scope="row">Insurance</td>
        <td>800</td>
      </tr>
      <tr>
        <td scope="row">Banking</td>
        <td>600</td>
      </tr>
      <tr class="table-active">
        <td scope="row">Insurance 1</td>
        <td>500</td>
      </tr>
      <tr>
        <td scope="row">Banking 1</td>
        <td>400</td>
      </tr>
    </tbody>
  </table>
</div>
</div> -->
