<app-home>
</app-home>
<br/>
<br/>
<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            <!-- <a routerLink="/AssoicateView">Associate</a>&nbsp;&nbsp;&nbsp; -->
            <button class="btn btn-primary" id="sendMail">Send Mail to the Selected SBU's</button>&nbsp;&nbsp;&nbsp;
            <button id="exportButton" class="btn  btn-danger clearfix" (click)="exportToExcel()">
                <span class="fa fa-file-excel-o"></span> Export to Excel</button>
        </div>
    </div>
</div>
<br/>
<table class="table table-hover" #table>
    <thead>
        <tr>

            <th scope="col" *ngIf="admin ||pmo ||poc">Favourite</th>
            <!-- <th scope="col" *ngIf="admin ||pmo || poc">Event ID</th>  -->
            <th scope="col">Event ID</th>
            <th scope="col" *ngIf="admin|| pmo ||poc">Base Location</th>
            <th scope="col" *ngIf="admin || pmo || poc">Beneficiary Name</th>
            <th scope="col" *ngIf="admin || pmo ||poc">Council Name</th>
            <th scope="col">Event Name</th>
            <th scope="col">Event Description</th>
            <th scope="col">Event Date (MM-DD-YYYY)</th>
            <th scope="col" *ngIf="admin || pmo ||poc">POC ID</th>
            <th scope="col" *ngIf="admin || pmo|| poc">Transport Type ID</th>
            <th scope="col" *ngIf="admin || pmo || poc">Business Unit</th>
            <th scope="col" *ngIf="admin || pmo || poc">Status</th>
            <th scope="col" *ngIf="admin || pmo || poc"></th>
            <th scope="col" *ngIf="admin || pmo || poc"></th>
            <!-- <th scope="col">Status</th> -->
        </tr>
    </thead>
    <tbody>

        <tr class="table-active" *ngFor="let event of lstEventDetails;let i=idx" #table>
            <ng-template [ngTemplateOutlet]="loadTemplate(event)" [ngTemplateOutletContext]="{ $implicit: event, idx: i }"></ng-template>
        </tr>

    </tbody>
</table>

<div>{{statusMessage}}</div>

<ng-template #readOnlyTemplate let-event>

    <td *ngIf="admin ||pmo ||poc">
        <input type="checkbox" [checked]="event.FavEvent" disabled/>
    </td>

    <!-- <td *ngIf="admin ||pmo ||poc">{{event.EventId}}</td> -->
    <td>{{event.EventCode}}</td>
    <td *ngIf="admin ||pmo ||poc">{{event.locationName}}</td>
    <td *ngIf="admin ||pmo ||poc">{{event.beneficiaryName}}</td>
    <td *ngIf="admin ||pmo ||poc">{{event.councilName}}</td>
    <td>{{event.eventName}}</td>
    <td>{{event.eventDescription}}</td>
    <td>{{event.eventDate}}</td>
    <td *ngIf="admin ||pmo ||poc">{{event.employeeID}}</td>
    <td *ngIf="admin ||pmo ||poc">{{event.transportTypeId}}</td>
    <td *ngIf="admin ||pmo ||poc">
        <select disabled>
            <option value="0" label="Select BU Name">Select BU Name</option>
        </select>

        <!-- <angular2-multiselect  name="dropdown" [data]="dropdownList"  [(ngModel)]="selectedItems" 
                              [settings]="dropdownSettings" 
                              (onSelect)="onItemSelect($event)" 
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)" ng-disabled="true" >
                     </angular2-multiselect> -->


    </td>
    <td *ngIf="admin ||pmo ||poc">{{event.eventStatus}}</td>


    <td>
        <input type="button" value="Update" class="btn btn-default" [disabled]="(event.eventDate | datediff: today) < 2" (click)="editEvent(event)"
        />
    </td>

    <td *ngIf="admin || pmo ">
        <input type="button" value="Delete" (click)="deleteEvent(event)" class="btn btn-danger" />
    </td>
</ng-template>
<ng-template #editTemplate>
    <td>
        <input type="checkbox" (click)="addToFav(editViewEvents)" [checked]="editViewEvents.FavEvent" [(ngModel)]="editViewEvents.FavEvent"
        />
    </td>
    <!-- <td>
        <input type="text" [(ngModel)]="editViewEvents.EventId" disabled />
    </td> -->
    <td>
        <input type="text" [(ngModel)]="editViewEvents.EventCode" disabled />
    </td>
    <td>
        <input type="text" [(ngModel)]="editViewEvents.locationName" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editViewEvents.beneficiaryName" />
    </td>

    <td>
        <input type="text" [(ngModel)]="editViewEvents.councilName" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editViewEvents.eventName" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editViewEvents.eventDescription" />
    </td>
    <td>
        <input type="date" [ngModel]="editViewEvents.eventDate | date:'yyyy-MM-dd'" (ngModelChange)="editViewEvents.eventDate = $event"
        />

    </td>
    <td>
        <input type="text" [(ngModel)]="editViewEvents.employeeID" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editViewEvents.transportTypeId" />
    </td>
    <td>
        <angular2-multiselect name="dropdown" [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            aria-required="true">
        </angular2-multiselect>
    </td>
    <!--<td>
            <angular2-multiselect  name="dropdown" [data]="roleDropdownList"  [(ngModel)]="selectedRoles" 
                    [settings]="dropdownSettings" 
                    (onSelect)="onItemSelect($event)" 
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)" aria-required="true"> 
           </angular2-multiselect>-->

    <!-- </td> -->
    <td>
        <input type="text" [(ngModel)]="editViewEvents.eventStatus" />
    </td>

    <td>
        <input type="button" value="Update" (click)="saveEvent()" class="btn btn-success" />
        <!-- <div *ngIf=isExist> 
                  <span>User Role already exist!!</span>
              </div> -->
    </td>
    <td>
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>

</ng-template>