<app-home>
</app-home>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="text-center">
      <button id="exportButton" class="btn  btn-danger clearfix" (click)="exportToExcel(form)">
        <span class="fa fa-file-excel-o"></span> Export to Excel</button>
    </div>
  </div>
</div>
<br/>
<table class="table table-hover" #table>
  <thead>
    <tr>
      <th scope="col">Event ID</th>
      <th scope="col">Month</th>
      <th scope="col">Base Location</th>
      <th scope="col">Beneficiary Name</th>
      <th scope="col">Venue Address</th>
      <th scope="col">Council Name</th>
      <th scope="col">Project</th>
      <th scope="col">Category</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Description</th>
      <th scope="col">Event Date (DD-MM-YY)</th>
      <th scope="col">Total no. of Volunteers</th>
      <th scope="col">Total Volunteer Hours</th>
      <th scope="col">Total Travel Hours</th>
      <th scope="col">Overall Volunteer Hours</th>
      <th scope="col">Lives Impacted</th>
      <th scope="col">Activity Type</th>
      <th scope="col">Status</th>
      <th scope="col">POC ID</th>
      <th scope="col">POC Name</th>
      <th scope="col">POC COntact Number</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active" *ngFor="let event of lstEventDetails">
      <td>{{event.EventCode}}</td>
      <!-- <td></td> -->
      <td>{{event.eventMonth}}</td>
      <td>{{event.locationName}}</td>
      <td>{{event.beneficiaryName}}</td>
      <td>{{event.Address}}</td>
      <td>{{event.councilName}}</td>
      <td>{{event.projectName}}</td>
      <td>{{event.eventCategory}}</td>
      <td>{{event.eventName}}</td>
      <td>{{event.eventDescription}}</td>
      <td>{{event.eventDate}}</td>
      <td>{{event.totalVolunteerCount}}</td>
      <td>{{event.totalVolunteerHours}}</td>
      <td>{{event.totalTravelHours}}</td>
      <td>{{event.overAllHours}}</td>
      <td>{{event.livesImpacted}}</td>
      <td></td>
      <td>{{event.eventStatus}}</td>
      <td>{{event.pocIds}}</td>
      <td>{{event.pocName}}</td>
      <td>{{event.poccontactNumber}}</td>

    </tr>
  </tbody>
</table>