<app-home></app-home>
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
<ngb-carousel>
  <ng-template ngbSlide  *ngFor="let card of cards">
    <img [src]="card.img" alt="Random first slide">
    <div class="carousel-caption">
      <h3>{{card.title}}</h3>
      <p>{{card.description}}</p>
      <button type="button" class="btn btn-warning" (click)="onSubmit()">Register</button>
    </div>
  </ng-template>
</ngb-carousel>
</div>
</div>
</div>
