<app-home></app-home>
<!-- <app-header></app-header> -->
<!-- <br/><br/><br/><br/> -->
<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
   
  <!-- <button class="btn btn-success">Add user</button> -->
  <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-25 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h3 class="card-title text-center">Future Availability</h3><br/>

              <div>
                <label>Availability</label>
                <input type="date" name="availabilty" class="form-control" #availabilty="ngModel" [ngModel]="_freeApiService.futureAvailability?.availability" required autofocus/>
             <br/>
             </div>
             <div>
                <label>Location </label>
                <input type="dropdown" name="location" class="form-control" #location="ngModel" [ngModel]="_freeApiService.futureAvailability?.location" />
                <!-- <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div> -->
             <br/>
            </div>
            <div>
                <label>Employee ID </label>
                <input type="text" name="employeeID" class="form-control" #employeeID="ngModel" [ngModel]="_freeApiService.futureAvailability?.employeeID" />
             <br/>
             </div>
                 <br/>
                <div class="form-group">
                    <button class="col-lg-6 btn btn-lg btn-primary btn-block text-uppercase"  [disabled]="form.invalid">Submit</button>
                     <!-- <div class="row"  *ngIf="showMsg">
                        <div class="col-xs-12">
                           <p class="alert alert-success">
                                  <strong>Event details uploaded successfully!!</strong> 
                           </p>
                        </div>
                     </div> -->
                     <div class="alert alert-dismissible alert-success" *ngIf="showMsg">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Future availability details uploaded successfully!!!</strong> 
                        <!-- <a href="#" class="alert-link">this important alert message</a>. -->
                      </div>
                </div>
            </div>
            
          </div>
          
        </div>
        
      </div>
    </div>
  </form>

  