<app-home></app-home>
<br/>
<h5 class="card-title text-center">This is a list of current activities for which you are registered</h5><br/>
<table class="table table-hover">
  <thead>
        
          <tr>
            <!-- <th scope="col">Associate Id</th>
            <th scope="col">Assocaite Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Email</th>
            <th scope="col">Role Type</th> -->
            <th scope="col">Event Code</th>
            <th scope="col">Event Name</th>
            <th scope="col">Event Description</th>
            <th scope="col">Event Date</th>
            <th scope="col">Event Start Time</th>
            <th scope="col">Event End Time</th>
            <th scope="col">Event Location</th>
            <th scope="col">Cancel</th>
          </tr>
        </thead>
        <tbody>
            <tr class="table-active"  *ngFor="let detail of lstRegistrationDetails">
              <!-- {{lstAssociateDetails}} -->
              <td>{{detail.EventCode}}</td>  
              <td>{{detail.EventName}}</td>
                <td>{{detail.EventDescription}}</td>
                <td>{{detail.EventDate}}</td>
                <td>{{detail.StartTime}}</td>
                <td>{{detail.EndTime}}</td>
                <td>{{detail.LocationName}}</td>
                <!-- <td>
                  <button class="font-weight-bold" >UnRegister</button>      
                  
                </td> -->
                <td><button class="btn btn-secondary my-2 my-sm-0" type="submit"  (click)="onUnRegister(detail)">UnRegister</button></td>    
                </tr>
              </tbody>
  </table>
  <!-- <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Event Name</th>
          <th scope="col">Event Date</th>
          <th scope="col">Event Start Time</th>
          <th scope="col">Event End Time</th>
          <th scope="col">Event Location</th>
          <th scope="col">Cancel</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active">
          <th scope="row">Blood Camp</th>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>
              <button class="font-weight-bold" >UnRegister</button>          
            </td>
        </tr>
        <tr>
          <th scope="row">Default</th>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>
              <button class="font-weight-bold" >UnRegister</button>          
            </td>
        </tr>
      </tbody>
    </table> -->

  <!-- {{lstAssociateDetails | json}} -->