<app-home></app-home>
<!-- <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-25 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Dashboard</h3><br/>
            <label>Number of events conducted</label>
            <label>Number of associates participated for all the events</label>
           <label>Number of associates participated for each BU</label>
          </div>
          
        </div>
        
      </div>
      
    </div>
  </div> -->
  <!-- <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">Warning!</h4>
      <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
    </div> -->

    <div class="alert alert-dismissible alert-primary">
        <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
        <h4 class="alert-heading">Dashboard!!</h4>
        <!-- <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again. -->
        Number of events conducted: <label>20</label><br/> 
        Number of associates participated for all the events:<label>200</label><br/> 
        Number of associates participated for each BU:<br/>

      </div>