
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <!-- Events -->
    <li class="nav-item dropdown" *ngIf="admin || pmo">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Events
      </a>
      <div class="dropdown-menu" *ngIf="admin || pmo">
        <a class="dropdown-item" [routerLink]="['/Create']" *ngIf="admin || pmo">Create Events</a>
        <a class="dropdown-item" [routerLink]="['/ViewEvents']" *ngIf="admin || pmo">View Events</a>
        <a class="dropdown-item" [routerLink]="['/EventStatus']" *ngIf="admin || pmo">Event Status</a>
        <a class="dropdown-item" [routerLink]="['/VolunteerDetails']" *ngIf="admin || pmo">Post Event Activities</a>
        <a class="dropdown-item" [routerLink]="['/AssociateDetails']" *ngIf="admin || pmo">Associate Details</a>
        <a class="dropdown-item" [routerLink]="['/ConfigureRoles']" *ngIf="admin">Configure Roles</a>
        
      </div>
    </li>

    <!-- Registration -->
    <li class="nav-item dropdown" *ngIf="admin || user">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Registration
      </a>
      <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/EventRegistration']">Event Registration</a>
        <!-- <a class="dropdown-item" [routerLink]="['/bulkRegistration']">Bulk Registration</a>
        <a class="dropdown-item" [routerLink]="['/associateRegistration']">Associate Registration</a> -->
        <a class="dropdown-item" [routerLink]="['/ViewRegistration']">View Registration</a>

      </div>
    </li>

    <!-- Reports -->
    <li class="nav-item dropdown" *ngIf="admin || pmo">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Reports
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/FutureEvents']">FutureEvents</a>
        <a class="dropdown-item" [routerLink]="['/EventInformation']">Outreach Event Information</a>
        <a class="dropdown-item" [routerLink]="['/EventSummary']">Outreach Event Summary</a>
        <a class="dropdown-item" [routerLink]="['/UnRegistered']">Volunteer Enrollment Details - UnRegistered</a>
        <a class="dropdown-item" [routerLink]="['/NotAttended']">Volunteer Enrollment Details - NotAttended</a>
        <a class="dropdown-item" [routerLink]="['/AssociatesSummary']">Associate Details</a>
        <a class="dropdown-item" [routerLink]="['/AssociatesAvailability']">Associates Future Availability</a>
        <a class="dropdown-item" [routerLink]="['/TopProjectTeams']">Top Proect Teams</a>
        <a class="dropdown-item" [routerLink]="['/TopLocations']">Top Locations</a>
      </div>
    </li>

    <!--Dashboard-->
    <li class="nav-item" *ngIf="admin || pmo">
        <a class="nav-link" [routerLink]="['/Dashboard']">Dashboard</a>
      </li>

       <!-- POC Menu -->
  <li class="nav-item dropdown" *ngIf="poc">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" *ngIf="poc">
      Events
    </a>
    <div class="dropdown-menu" *ngIf="poc">
        <a class="dropdown-item" [routerLink]="['/UpdateEvent']" *ngIf="poc">Update Events</a>
        <a class="dropdown-item" [routerLink]="['/PostEvent']" *ngIf="poc">Post Event Activities</a>
    </div>
  </li> 

  <!-- POC - Reports -->
<li class="nav-item" *ngIf="poc">
  <a class="nav-link" [routerLink]="['/POCReports']" *ngIf="poc">Reports</a>
</li>
<!-- POC - Dashboard -->
<li class="nav-item" *ngIf="poc">
  <a class="nav-link" [routerLink]="['/POCDashboard']" *ngIf="poc">Dashboard</a>
</li>

  </ul>
  <!-- <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-secondary my-2 my-sm-0 pull-right" type="submit">Logout</button>
  </form> -->
  <!-- <a href="#" type="button" class="btn btn-default navbar-btn pull-right">
    <span class="glyphicon glyphicon-shopping-cart"></span>Logout
  </a> -->
  <div class="pull-right">
    <ul class="nav navbar-nav">
        <li><button type="submit" class="btn navbar-btn btn-secondary" name="logout" id="logout"  value="Log Out" (click)="logout()">Log Out</button></li>
    </ul>     
</div>
</nav>
<app-header></app-header>
